body{
    background-color:lightcyan;
}

h1{
    border:dotted;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    text-align:center;
}
#one{
    font-family: 'Times New Roman', Times, serif;
}
img{
    float: center;   
}
#round{
	border-radius: 50px;
	background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOqyhAA9r4Mk1NB5k8hmWg9UjqqyIzaVZ2tv1gbyVxLuv2imoa);
	padding: 50px;
	margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
    font-weight:bold;
}

